* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .3s ease; }

.fancybox__container * {
  transition: none !important; }

a {
  text-decoration: none; }

:root {
  --brand-color: #346EDD; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

@font-face {
  font-family: "Mplus 1p";
  src: url(./src/fonts/MPLUS1p-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Mplus 1p";
  src: url(./src/fonts/MPLUS1p-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Mplus 1p";
  src: url(./src/fonts/MPLUS1p-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Mplus 1p";
  src: url(./src/fonts/MPLUS1p-Medium.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Mplus 1p";
  src: url(./src/fonts/MPLUS1p-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }
html {
  scroll-behavior: smooth; }

body {
  font-family: "Mplus 1p";
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  transition: 0.3s ease;
  background-color: #E7E8F1;
  background-image: url(/src/images/house.png);
  background-repeat: no-repeat;
  background-position: top right; }
  @media (max-width: 1195px) {
    body {
      background-image: none; } }

.content {
  max-width: calc(1440px + 16px * 2);
  padding: 0 16px;
  margin: 0 auto;
  width: 100%; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: none;
  padding: 0 25px; }
  .overlay.open {
    display: block; }

.menu-modal {
  height: 100vh;
  display: flex;
  padding: 20px 20px 20px 50px;
  max-width: 428px;
  width: 100%;
  flex-direction: column;
  gap: 26px;
  background: #282C33;
  position: fixed;
  transition: right .5s linear, opacity .2s ease;
  top: 0;
  right: -200%;
  z-index: 20;
  opacity: 0; }
  @media (max-width: 768px) {
    .menu-modal {
      padding: 20px;
      max-width: 100%; } }
  .menu-modal.active {
    transition: right .5s linear, opacity .2s ease;
    right: 0;
    opacity: 1; }
  .menu-modal .close-row {
    display: flex;
    justify-content: flex-end; }
    .menu-modal .close-row .close-btn {
      cursor: pointer; }
  .menu-modal .menu-modal-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto; }
    .menu-modal .menu-modal-body ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px; }
      .menu-modal .menu-modal-body ul li a {
        display: flex;
        gap: 30px;
        align-items: center;
        color: #FFF;
        font-family: "Mplus 1p";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 20px */ }
        .menu-modal .menu-modal-body ul li a::before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15.7131 12L9.70209 5.99001L8.28809 7.40401L12.8881 12.004L8.28809 16.597L9.70209 18.011L15.7131 12Z' fill='%2370A1FF'/%3E%3C/svg%3E");
          padding-top: 5px; }
        .menu-modal .menu-modal-body ul li a:hover {
          color: #FFFFFF; }
          .menu-modal .menu-modal-body ul li a:hover::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10 12C10 13.1046 10.8954 14 12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12Z' fill='%2326B447'/%3E%3Cpath d='M10 6C10 7.10457 10.8954 8 12 8C13.1046 8 14 7.10457 14 6C14 4.89543 13.1046 4 12 4C10.8954 4 10 4.89543 10 6Z' fill='%2326B447'/%3E%3Cpath d='M10 18C10 19.1046 10.8954 20 12 20C13.1046 20 14 19.1046 14 18C14 16.8954 13.1046 16 12 16C10.8954 16 10 16.8954 10 18Z' fill='%2326B447'/%3E%3C/svg%3E");
            margin-top: 5px; }
    .menu-modal .menu-modal-body .line {
      background: #5D6065;
      width: 100%;
      height: 1px;
      flex-shrink: 0; }
    .menu-modal .menu-modal-body .contact-container {
      display: flex;
      flex-direction: column;
      gap: 10px; }
      .menu-modal .menu-modal-body .contact-container p {
        color: #929CAD;
        font-family: "Mplus 1p";
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 130%;
        /* 15.6px */
        text-transform: uppercase; }
      .menu-modal .menu-modal-body .contact-container span {
        color: #929CAD;
        font-family: "Mplus 1p";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 19.5px */ }
      .menu-modal .menu-modal-body .contact-container a {
        color: #81ACFF;
        font-family: "Mplus 1p";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        /* 20px */ }
      .menu-modal .menu-modal-body .contact-container.email a {
        color: #929CAD;
        font-family: "Mplus 1p";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 15px */ }
    .menu-modal .menu-modal-body .vk {
      width: 46px;
      height: 46px;
      border-radius: 200px;
      border-radius: 200px;
      background: radial-gradient(61.22% 61.22% at 26.42% 70.31%, rgba(222, 223, 234, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
      box-shadow: -3.992px 4.752px 5.626px 0px rgba(87, 91, 135, 0.06);
      display: flex;
      align-items: center;
      justify-content: center; }
      .menu-modal .menu-modal-body .vk:hover span {
        transform: scale(1.2); }
      .menu-modal .menu-modal-body .vk span {
        width: 30.835px;
        height: 30.835px;
        flex-shrink: 0;
        background: radial-gradient(84.53% 84.53% at 73.11% 21.23%, #81ACFF 0%, #548CF6 50%, #346EDD 100%);
        box-shadow: 0px 0px 1.164px 0px #FFF inset;
        filter: drop-shadow(-4.073px 4.363px 4.247px rgba(84, 140, 246, 0.2));
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 200px; }

.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  padding: 30px;
  border-radius: 0px 0px 20px 20px;
  background: linear-gradient(90deg, #EEEFF5 0%, #F0F2F7 100%);
  box-shadow: -3px 4px 14.9px 0px rgba(87, 91, 135, 0.05); }
  @media (max-width: 1383px) {
    .header .content {
      padding: 15px; } }
  @media (max-width: 1195px) {
    .header .content {
      padding: 0 20px 0 0;
      background: linear-gradient(90deg, #EEEFF5 0%, #F0F2F7 100%);
      box-shadow: -3px 4px 14.9px 0px rgba(87, 91, 135, 0.05);
      border-radius: 0; } }
  .header .content .logo {
    display: flex;
    height: 60px;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: radial-gradient(129.96% 74.26% at 16.92% 36.49%, #FF5056 0%, #E31E25 100%);
    display: none; }
    @media (max-width: 1195px) {
      .header .content .logo {
        display: flex; } }
  .header .content ul {
    display: flex;
    gap: 5px; }
    @media (max-width: 1195px) {
      .header .content ul {
        display: none; } }
    .header .content ul li a {
      display: flex;
      padding: 15px 30px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      background: #F4F5F8;
      box-shadow: -2px 4px 6.3px -2px rgba(87, 91, 135, 0.2), -2px 2px 4.7px 0px #FFF inset;
      color: #575B87;
      font-family: "Mplus 1p";
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      /* 17px */ }
      @media (max-width: 1383px) {
        .header .content ul li a {
          padding: 10px 15px; } }
      .header .content ul li a:hover {
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 12px 14.3px -6px rgba(87, 91, 135, 0.15), -2px 2px 4.7px 0px #FFF inset; }
  .header .content .links {
    display: flex;
    gap: 30px;
    align-items: center; }
    .header .content .links .vk {
      width: 46px;
      height: 46px;
      border-radius: 200px;
      background: radial-gradient(61.22% 61.22% at 26.42% 70.31%, #DEDFEA 0%, #FFF 100%);
      box-shadow: 0px 0px 0.38px 0px #FFF inset;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (max-width: 768px) {
        .header .content .links .vk {
          display: none; } }
      .header .content .links .vk:hover span {
        transform: scale(1.2); }
      .header .content .links .vk span {
        width: 30.835px;
        height: 30.835px;
        flex-shrink: 0;
        background: radial-gradient(84.53% 84.53% at 73.11% 21.23%, #81ACFF 0%, #548CF6 50%, #346EDD 100%);
        box-shadow: 0px 0px 1.164px 0px #FFF inset;
        filter: drop-shadow(-4.073px 4.363px 4.247px rgba(84, 140, 246, 0.2));
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 200px; }
    .header .content .links .tel {
      display: flex;
      padding: 0 20px 0 0;
      align-items: center;
      gap: 20px;
      border-radius: 5px;
      background: transparent;
      color: #575B87;
      font-family: "Mplus 1p";
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      /* 20px */
      position: relative;
      z-index: 1;
      overflow: hidden;
      width: fit-content;
      border-radius: 200px; }
      @media (max-width: 768px) {
        .header .content .links .tel {
          padding: 0; } }
      .header .content .links .tel:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: transparent;
        z-index: -2;
        transform-origin: bottom left; }
      .header .content .links .tel:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #fff;
        transition: all .8s !important;
        z-index: -1;
        transform-origin: top left; }
      .header .content .links .tel .icon-wrapper {
        width: 46px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 200px;
        background: #FFF;
        box-shadow: 0px 0px 0.38px 0px #FFF inset;
        display: flex;
        align-items: center;
        justify-content: center; }
        @media (max-width: 768px) {
          .header .content .links .tel .icon-wrapper {
            display: none; } }
        .header .content .links .tel .icon-wrapper .icon {
          background: radial-gradient(84.53% 84.53% at 73.11% 21.23%, #FF3239 0%, #E31E25 50%, #D2151C 100%);
          box-shadow: 0px 0px 1.164px 0px #FFF inset;
          filter: drop-shadow(-4.073px 4.363px 4.247px rgba(227, 30, 37, 0.19));
          width: 30.835px;
          height: 30.835px;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50px; }
      .header .content .links .tel:hover {
        box-shadow: 0px 0px 0.38px 0px #FFF inset; }
        .header .content .links .tel:hover .icon-wrapper .icon {
          transform: scale(1.2); }
        .header .content .links .tel:hover:before {
          width: 140%; }
    .header .content .links .burger-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      display: none; }
      @media (max-width: 1195px) {
        .header .content .links .burger-btn {
          display: flex; } }

.main-block {
  padding: 100px 0; }
  @media (max-width: 1195px) {
    .main-block {
      background-image: url(/src/images/house.png);
      background-repeat: no-repeat;
      background-position: top right;
      background-size: contain;
      padding: 50px 0; } }
  @media (max-width: 768px) {
    .main-block {
      padding: 30px 0;
      background-position: 136% 154px; } }
  @media (max-width: 430px) {
    .main-block {
      padding: 30px 0;
      background-position: 200px 207px; } }
  @media (max-width: 390px) {
    .main-block {
      padding: 30px 0;
      background-position: 200px 207px; } }
  .main-block .content .info {
    display: flex;
    flex-direction: column;
    gap: 30px; }
    .main-block .content .info h1 {
      color: #282C33;
      font-family: "Mplus 1p";
      font-size: 70px;
      font-style: normal;
      font-weight: 250;
      line-height: 100%;
      /* 70px */ }
      @media (max-width: 1195px) {
        .main-block .content .info h1 {
          font-size: 40px; } }
      @media (max-width: 768px) {
        .main-block .content .info h1 {
          font-size: 30px; } }
      .main-block .content .info h1 span {
        color: #282C33;
        font-family: "Mplus 1p";
        font-size: 70px;
        font-style: normal;
        font-weight: 800;
        line-height: 130%;
        text-transform: uppercase; }
        @media (max-width: 1195px) {
          .main-block .content .info h1 span {
            font-size: 40px; } }
        @media (max-width: 768px) {
          .main-block .content .info h1 span {
            font-size: 30px; } }
    .main-block .content .info p {
      color: #282C33;
      font-family: "Mplus 1p";
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      /* 32.5px */
      max-width: 706px; }
      @media (max-width: 1195px) {
        .main-block .content .info p {
          font-size: 20px;
          max-width: 456px; } }
      @media (max-width: 768px) {
        .main-block .content .info p {
          font-size: 15px;
          max-width: 328px; } }

.advantages .content .advantages-block {
  padding: 30px;
  align-self: stretch;
  border-radius: 20px;
  background: linear-gradient(90deg, #EEEFF5 0%, #F0F2F7 100%);
  box-shadow: -3px 4px 14.9px 0px rgba(87, 91, 135, 0.05);
  grid-template-columns: repeat(3, 1fr) repeat(4, minmax(0, 0.75fr));
  display: flex;
  flex-direction: column;
  gap: 30px; }
  .advantages .content .advantages-block .advantage-card {
    display: flex;
    padding: 30px;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    background: linear-gradient(263deg, #F3F5F8 2.72%, #F2F4F9 91.05%);
    box-shadow: 1px -1px 10px 0px #FFF, -4px 4px 6px 0px rgba(87, 91, 135, 0.1), 2px -2px 2px 2px #F7F7FD inset;
    cursor: pointer; }
    .advantages .content .advantages-block .advantage-card .icon {
      display: flex;
      width: 100px;
      height: 100px;
      padding: 15px 30px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 200px;
      background: #EBEDF5;
      box-shadow: -8px 4px 3.4px 0px rgba(87, 91, 135, 0.04) inset, 1px -1px 0px 0px #E6E8EE inset, -4px 4px 16.4px -6px rgba(87, 91, 135, 0.08) inset, 9px -4px 9.6px 0px rgba(255, 255, 255, 0.56) inset;
      color: #346EDD;
      font-family: "Mplus 1p";
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%;
      /* 50px */
      letter-spacing: -7.5px; }
    .advantages .content .advantages-block .advantage-card .info-container {
      display: flex;
      flex-direction: column;
      gap: 20px; }
      .advantages .content .advantages-block .advantage-card .info-container p {
        color: #346EDD;
        font-family: "Mplus 1p";
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: 100%;
        /* 25px */ }
      .advantages .content .advantages-block .advantage-card .info-container span {
        color: #282C33;
        font-family: "Mplus 1p";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 19.5px */ }
    .advantages .content .advantages-block .advantage-card img {
      width: 114.857px;
      height: 105.898px;
      flex-shrink: 0; }
  .advantages .content .advantages-block .block-1 {
    display: flex;
    gap: 30px; }
    .advantages .content .advantages-block .block-1 .block-1-1 {
      display: flex;
      flex-direction: column;
      gap: 30px; }
      .advantages .content .advantages-block .block-1 .block-1-1 .block-1-1-row {
        display: flex;
        gap: 30px; }
        .advantages .content .advantages-block .block-1 .block-1-1 .block-1-1-row .advantage-card:first-child {
          max-width: 574px;
          width: 100%;
          border-radius: 20px;
          background: #346EDD;
          box-shadow: 1px -1px 10px 0px #FFF, -4px 4px 6px 0px rgba(87, 91, 135, 0.1);
          position: relative;
          z-index: 1;
          overflow: hidden; }
          .advantages .content .advantages-block .block-1 .block-1-1 .block-1-1-row .advantage-card:first-child:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background: #346EDD;
            z-index: -2;
            transform-origin: bottom left; }
          .advantages .content .advantages-block .block-1 .block-1-1 .block-1-1-row .advantage-card:first-child:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: #fff;
            transition: all .8s !important;
            z-index: -1;
            transform-origin: top left;
            border-radius: 0 200px 200px 0; }
          .advantages .content .advantages-block .block-1 .block-1-1 .block-1-1-row .advantage-card:first-child .info-container p {
            color: #FFFFFF; }
          .advantages .content .advantages-block .block-1 .block-1-1 .block-1-1-row .advantage-card:first-child .info-container span {
            color: #fff; }
          .advantages .content .advantages-block .block-1 .block-1-1 .block-1-1-row .advantage-card:first-child:hover {
            border-radius: 20px;
            box-shadow: 1px -1px 10px 0px #FFF, 0px 12px 6px 0px rgba(87, 91, 135, 0.1), 2px -2px 2px 2px #F7F7FD inset;
            transition: background .1s ease .3s;
            background: #FFFFFF; }
            .advantages .content .advantages-block .block-1 .block-1-1 .block-1-1-row .advantage-card:first-child:hover .icon {
              border-radius: 200px;
              background: #346EDD;
              box-shadow: -8px 4px 3.4px 0px rgba(87, 91, 135, 0.04) inset, 1px -1px 0px 0px #E6E8EE inset, -4px 4px 16.4px -6px rgba(87, 91, 135, 0.08) inset;
              color: #FFF; }
            .advantages .content .advantages-block .block-1 .block-1-1 .block-1-1-row .advantage-card:first-child:hover .info-container p {
              color: #346EDD; }
            .advantages .content .advantages-block .block-1 .block-1-1 .block-1-1-row .advantage-card:first-child:hover .info-container span {
              color: #282C33; }
            .advantages .content .advantages-block .block-1 .block-1-1 .block-1-1-row .advantage-card:first-child:hover:before {
              width: 180%; }
            .advantages .content .advantages-block .block-1 .block-1-1 .block-1-1-row .advantage-card:first-child:hover:after {
              transition: background .1s ease .3s;
              background: #FFFFFF; }
      .advantages .content .advantages-block .block-1 .block-1-1 .block-1-1-row2 {
        display: flex;
        gap: 30px; }
        .advantages .content .advantages-block .block-1 .block-1-1 .block-1-1-row2 .advantage-card:first-child {
          max-width: 373px;
          width: 100%; }
    .advantages .content .advantages-block .block-1 .advantage-card.bg-card {
      width: 373px;
      flex-shrink: 0;
      align-items: flex-start;
      background-image: url(/src/images/adv-bg.png);
      background-repeat: no-repeat;
      background-position: bottom; }
  .advantages .content .advantages-block .block-2 {
    display: flex;
    gap: 30px; }
    .advantages .content .advantages-block .block-2 .advantage-card {
      height: 166px;
      width: calc((100% - 30px)/2); }

/*# sourceMappingURL=style.css.map */
